:root {
  --cor-primaria: #f3f5fc;
  --cor-secundaria: #0a3871;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background-color: var(--cor-primaria);
  font-family: "inter", sans-serif;
}
